[submodule "_submodules/enso"]
	path = _submodules/enso
	url = https://github.com/enso-org/enso
	branch = main
[submodule "_submodules/ide"]
	path = _submodules/ide
	url = https://github.com/enso-org/ide
	branch = main
[submodule "_submodules/rust-lib"]
	path = _submodules/rust-lib
	url = https://github.com/enso-org/rust-lib
	branch = main
