<div class="body-inner">
    <div class="book-header" role="navigation">
        <!-- Title -->
        <h1>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            {% if page.title %}
                <a href="." >{{ page.title | escape }}</a>
            {% else %}
                <a href="." >{{ site.title | escape }}</a>
            {% endif %}
        </h1>
    </div>
    <div class="page-wrapper" tabindex="-1" role="main">
        <div class="page-inner">
            <div id="book-search-results">
                <div class="search-noresults">
                    <section class="normal markdown-section">
                        {{ content }}
                        {% assign dirpath = page.path | split: "/" %}
                        {% if dirpath[0] == "docs" %}
                          {% if dirpath.size > 2 %}
                            {% assign varremove = "" | split: ',' %}
                            {% assign varremove = varremove | push: 'docs' %}
                            {% assign varremove = varremove | push: dirpath[1] %}
                            {% assign varremove = varremove | join: '/' %}
                            {% assign githubpath = page.path | remove: varremove %}
                            <a href="https://github.com/enso-org/{{dirpath[1]}}/blob/main/docs{{githubpath}}">Open this doc on GitHub</a>
                          {% else %}
                            {% assign githubpath = page.path | remove:'docs/' %}
                            <a href="https://github.com/enso-org/enso-org.github.io/tree/sources/docs/{{githubpath}}">Open this doc on GitHub</a>
                          {% endif %}
                        {% endif %}

                    </section>
                </div>

                 <!-- {%- include search.html -%} -->
            </div>
        </div>
    </div>
</div>
