<div class="book-summary">
    <div id="search-searchbar">
    </div>
    <div class="post-list" id="search-hits">
        {% for post in site.posts %}
          <div class="post-item">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
    
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
    
            <div class="post-snippet">{{ post.excerpt }}</div>
          </div>
        {% endfor %}
      </div>
      {% include algolia.html %}
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}/">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}/">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    Home
                </a>
            </li>

            <li class="divider"></li>
            
            {% assign pagePathArray = page.path | split: "/" %}
            {% assign pagePathArrayLength = pagePathArray | size %}
            {% assign pageDirArray = page.dir | split:"/" %}
            {% assign pageDirArrayLength = pageDirArray | size %}

            {% if page.path contains 'README' %}
                {% assign pagePathArrayTemp = pagePathArray | pop %}
                {% assign pagePathArrayTemp = pagePathArrayTemp | pop %}
            {% else %}
                {% assign pagePathArrayTemp = pagePathArray | pop %}
            {% endif %}
            {% assign pagePathJoined = pagePathArrayTemp | join:"/" %}
        
            {% if pageDirArrayLength > 0 %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}/{{dirpath}} ">
                    <a href="{{site.baseurl}}/{{dirpath}}">
                        Go back
                    </a>
                </li>
                <li class="divider"></li>
            {% endif %}
                
            
            {% assign sorted_pages = site.pages | sort: "order" %}
            {% for post in sorted_pages %}
            {% if post.path contains '404' %}
            {% else %}
                {% if post.dir == page.dir %}
                    {% if page.url == post.url %}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                    {% else %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                    {% endif %}
                        <a href="{{site.baseurl}}{{post.url}}">
                            {% if post.title %}
                                {{ post.title | escape }}
                            {% else %}
                                {{ post.name | escape }}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% endfor %}

            {% if page.path contains 'README' %}
                {% assign matchedPosts = "" | split: "" %}

                {% if pagePathArrayLength == 0 %}
                    {% assign nextDirIndex = pagePathArrayLength | plus: 2 %}
                {% else %}
                    {% assign nextDirIndex = pagePathArrayLength| plus: 1 %}
                {% endif %}
                
                {% assign postDirIndex = pagePathArrayLength | minus: 1 %}
                    
                {% for post in sorted_pages %}
                    {% assign postPathArray = post.dir | split:"/" %}
                    {% assign postPathArrayLength = postPathArray | size %}
                    
                    {% assign postDir = postPathArray[0] %}
                    {% if pageDirArrayLength == 0 %}
                        {% if post.path contains 'README' and postPathArrayLength == nextDirIndex and post.url != page.url %}
                            {% assign matchedPosts = matchedPosts | push: post %} 
                        {% endif %}
                    {% else %}
                        {% if post.path contains 'README' and postPathArrayLength == nextDirIndex and post.url != page.url and postPathArray[postDirIndex] == pageDirArray[postDirIndex] %}
                            {% assign matchedPosts = matchedPosts | push: post %} 
                        {% endif %}
                    {% endif %}
                    
                {% endfor %}
                {% assign numberOfMatchedPosts = matchedPosts | size %}
                {% if numberOfMatchedPosts > 0 %}
                <li class="divider"></li>
                {% for post in matchedPosts %}
                    {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {% if post.title %}
                                    {{ post.title | escape }}
                                {% else %}
                                    {{ post.name | escape }}
                                {% endif %}
                            </a>
                        </li>
                {% endfor %}
                {% endif %}
            {% endif %}
        
        </ul>
    </nav>
</div>
