<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% if page.previous %}
            <link rel="prev" href="{{site.baseurl}}{{page.previous.url}}" />
        {% else %}
            <link rel="prev" href="{{site.baseurl}}/" />
        {% endif %}

        {% if page.next %}
            <link rel="next" href="{{site.baseurl}}{{page.next.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                {%- include body.html -%}
                        Page dir {{ page.dir }}
                        {% assign previousOrder = page.order | minus: 1%}
                        Previous order: {{ previousOrder }}
                        {% assign previousPage = site.pages | where_exp: "item", "item.order == previousOrder" %}
                        Previous page size {{ previousPage | size }}
                        {{ page.dir }}
                        {% for prevPage in previousPage %}
                        {{ prevPage.dir }}
                            {% if prevPage.dir == page.dir %}
                            <a href="{{site.baseurl}}{{prevPage.url}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{page.previous.title}}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            {% endif %}
                        {% endfor %}

                        {% assign nextOrder = page.order | plus: 1%}
                        Next order: {{ nextOrder }}
                        {% assign nextPage = site.pages | where_exp: "item", "item.order == nextOrder" %}
                        next page size {{ nextPage | size }}
                        {{ page.dir }}
                        {% for nextPage in nextPage %}
                        {{ nextPage.dir }}
                            {% if nextPage.dir == page.dir %}
                            <a href="{{site.baseurl}}{{nextPage.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{page.next.title}}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            {% endif %}
                        {% endfor %}
                          
            
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>